html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

#map { 
	height: 100%; 
}

#searchDiv{
	position: absolute;
	z-index: 10;
	left: 9px;
	top: 100px;
}

#sendDiv{
	position: absolute;
	z-index: 10;
	left: 9px;
	top: 200px;
}

#reticule{
	position: absolute;
	cursor: grab;
	height: 19px;
	z-index: 10;
	left: 50%;
	top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}